// * Максимальная ширина макета
$container-width: 1750;

:root {
	// * Colors
	--dark-color: #000;
	--light-color: #fff;
	--bg-color: #e27d5f;
	--accent-color: #9fd4ff;
	--blue-color: #164288;
	--yellow-color: #f7c661;
	--yellow-dark: #e9b145;
	--blue-alice: #e6effd;
	--gainsborough-color: #e5e5e5;
}
