.arrangement {
	margin-bottom: 100px;

	&__title {
		margin: 0;
		margin-bottom: 90px;
		font-family: sans-serif;
		font-weight: 600;
		font-size: 40px;
		text-align: center;
	}

	&__cards {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 200px;
	}

	&__card {
		border-radius: 15px;
		max-width: 545px;
		background-color: var(--blue-alice);
	}

	&__img {
		margin-bottom: 50px;
		width: 547px;
		height: auto;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__subtitle {
		margin: 0;
		margin-bottom: 50px;
		font-family: sans-serif;
		font-weight: 700;
		font-size: 32px;
	}

	&__list {
		margin: 0;
		margin-bottom: 25px;
		padding: 0;
	}

	&__list-item {
		margin-bottom: 20px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 24px;
	}

	&__price {
		margin: 0;
		margin-bottom: 15px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 28px;
	}

	&__price--yellow {
		color: var(--yellow-color);
	}

	&__btn {
		display: block;
		border-bottom: 4px solid var(--yellow-dark);
		border-radius: 0 0 15px 15px;
		padding: 17px 225px 21px;
		width: 100%;
		color: var(--light-color);
		background-color: var(--yellow-color);
	}

	&__text-wrap {
		max-width: 1430px;
	}

	&__text {
		margin: 0;
		margin-bottom: 35px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 24px;
	}

	&__link {
		color: var(--yellow-color);
	}
}

.arrangement__list-item:last-child {
	margin: 0;
}

.arrangement__text:last-child {
	margin: 0;
}
