.constructions {
	margin-bottom: 230px;

	&__cards {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__card {
		border-radius: 15px;
		max-width: 545px;
		background-color: var(--blue-alice);
	}

	&__img {
		margin-bottom: 45px;
		width: 547px;
		height: auto;
	}

	&__wrap {
		padding: 0 40px 40px;
	}

	&__title {
		margin: 0;
		margin-bottom: 25px;
		font-family: sans-serif;
		font-weight: 700;
		font-size: 25px;
	}

	&__text {
		margin: 0;
		margin-bottom: 25px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 18px;
	}

	&__list {
		margin: 0;
		margin-bottom: 50px;
		padding: 0;
		padding-left: 25px;
	}

	&__list-item {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 18px;
	}

	&__price {
		margin: 0;
		margin-bottom: 60px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 25px;
	}

	&__price--yellow {
		color: var(--yellow-color);
	}

	&__btn {
		position: relative;
		left: 50%;
		border-bottom: 4px solid var(--yellow-dark);
		border-radius: 3px 3px 0 0;
		padding: 18px 60px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 18px;
		background-color: var(--yellow-color);
		transform: translate(-50%, 0);
	}
}
