.hero {
	margin-bottom: 75px;

	&__container {
		background-image: url('../img/hero/hero-bg.png');
		background-position: right top;
		background-repeat: no-repeat;
	}

	&__wrap {
		margin-bottom: 130px;
		max-width: 895px;
	}

	&__title {
		margin: 0;
		margin-bottom: 85px;
		font-family: sans-serif;
		font-weight: 600;
		font-size: 70px;
	}

	&__title-blue {
		color: var(--blue-color);
	}

	&__blocks {
		display: flex;
		margin-bottom: 80px;
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 40px;
	}

	&__img-1 {
		margin-right: 35px;
		width: 72px;
		height: auto;
	}

	&__img-2 {
		margin-right: 35px;
		width: 80px;
		height: auto;
	}

	&__block-text {
		margin: 0;
	}

	&__btn {
		border-bottom: 6px solid var(--yellow-dark);
		border-radius: 5px 5px 0 0;
		padding: 30px 90px 25px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 20px;
		text-align: center;
		background-color: var(--yellow-color);
		transition: 0.4s;
	}

	&__text {
		margin: 0;
		max-width: 1240px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 24px;
	}

	&__link {
		color: var(--yellow-color);
		transition: 0.2s;
	}
}

.hero__block:last-child {
	margin: 0;
}

.hero__btn:hover {
	color: var(--light-color);
	background-color: var(--yellow-dark);
}

.hero__link:hover {
	color: var(--yellow-dark);
}
