.сities {
	margin-bottom: 200px;
	padding: 90px 0;
	background-color: var(--blue-color);

	&__title {
		margin: 0;
		margin-bottom: 50px;
		font-family: sans-serif;
		font-weight: 700;
		font-size: 40px;
		text-align: center;
		color: var(--light-color);
	}

	&__wrap-lists {
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
	}

	&__list-item {
		margin-bottom: 40px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 30px;
		color: var(--light-color);
	}

	&__text {
		margin: 0;
		border-right: 4px solid var(--dark-color);
		border-bottom: 4px solid var(--dark-color);
		border-radius: 15px;
		padding: 15px;
		max-width: 1400px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 24px;
		background-color: var(--light-color);
	}

	&__text-link {
		color: var(--yellow-color);
		transition: 0.2s;
	}
}

.сities__list-item:last-child {
	margin: 0;
}

.cities__text-link:hover {
	color: var(--yellow-dark);
}
